<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.software2.ocrhy">

    <!-- Các quyền -->
    <!-- yeu cau cap quyen bang false?-->
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/home"
        android:label="@string/app_name"
        android:roundIcon="@drawable/home"
        android:supportsRtl="true"
        android:theme="@style/Theme.OCRhy"
        tools:targetApi="31">

        <!-- Các activity -->

        <activity
            android:name=".MainActivity12"
            android:exported="true" />
        <activity
            android:name=".MainActivity11"
            android:exported="true" />
        <activity
            android:name=".MainActivity10"
            android:exported="true" />
        <activity
            android:name=".MainActivity9"
            android:exported="true" />
        <activity
            android:name=".MainActivity8"
            android:exported="true" />
        <activity
            android:name=".MainActivity7"
            android:exported="true" />
        <activity
            android:name=".MainActivity6"
            android:exported="true" />
        <activity
            android:name=".MainActivity5"
            android:exported="true" />
        <activity
            android:name=".MainActivity4"
            android:exported="true" />
        <activity
            android:name=".MainActivity3"
            android:exported="true"
            android:screenOrientation="portrait"
            android:supportsRtl="true" />
        <activity
            android:name=".MainActivity2"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SplashApplication"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <receiver android:name=".ScreenReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SCREEN_ON"/>
            </intent-filter>
        </receiver>

        <!-- Service GetAllData -->
        <service android:name=".GetAllData" />

    </application>
</manifest>
